* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  width: 100%;
  height: 100vh;
  background: url(./charitybg.jpg) bottom center/cover no-repeat;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

nav img {
  width: 130px;
  height: 80px;
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  padding: 15px;
  position: relative;
}

nav ul li a {
  color:#fff;
  font-size: 16px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff7657;
}

/* Dropdown */
nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  background: #c85283;
  padding: 10px;
  top: 100%;
  left: 0;
  border-radius: 8px;
}

nav ul li:hover .dropdown-menu {
  display: block;
}

nav ul li .dropdown-menu li a {
  color: #fff;
  padding: 8px;
  display: block;
}

button {
  padding: 8px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(110deg, #ff7657 40%, #833556 60%);
  border: none;
}

/* Head */
.head {
  margin-top: 10%;
  color: whitesmoke;
  text-align: center;
}

.head h1 { font-size: 50px; }

/* About */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8% 7%;
  background: #833556;
  color: white;
}

.about img { max-width: 500px; border-radius: 10px; }

/* What We Do */
.what { padding: 8% 10%; background: white; }
.cards { display: flex; gap: 20px; flex-wrap: wrap; margin-top: 40px; }
.box { flex: 1 1 250px; background: #833556; color: white; padding: 20px; border-radius: 10px; }

/* Action */
.action {
  background: #833556;
  color: white;
  text-align: center;
  padding: 50px 20px;
}
.action h2{
  font-size: 28px;
  margin-bottom: 15px;
}
.action h1{
  font-size: 20px;
  margin-bottom: 25px;
}
.action img{
  max-width: 300px; 
  border-radius: 10px;
}


/* Contact */
.contact {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
  flex-wrap: wrap;
}

.contact input {
  padding: 10px;
  margin: 10px 0;
  width: 250px;
}

.icons img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #833556;
  cursor: pointer;
}

.icons img:hover { background: #833556; }

/* Service Page */
.service-page {
  padding: 60px 20px;
  text-align: center;
}

.service-page img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  nav ul { flex-direction: column; text-align: left; }
  nav ul li { display: block; }
  .about { flex-direction: column; text-align: center; }
  .cards { flex-direction: column; }
}
